@charset "UTF-8";
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-Thin/Exo2-Thin_gdi.eot");
  src: url("../fonts/Exo2-Thin/Exo2-Thin_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Thin/Exo2-Thin_gdi.woff") format("woff"), url("../fonts/Exo2-Thin/Exo2-Thin_gdi.ttf") format("truetype"), url("../fonts/Exo2-Thin/Exo2-Thin_gdi.svg#Exo2-Thin") format("svg");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-Light/Exo2-Light_gdi.eot");
  src: url("../fonts/Exo2-Light/Exo2-Light_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Light/Exo2-Light_gdi.woff") format("woff"), url("../fonts/Exo2-Light/Exo2-Light_gdi.ttf") format("truetype"), url("../fonts/Exo2-Light/Exo2-Light_gdi.svg#Exo2-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-Regular/Exo2-Regular_gdi.eot");
  src: url("../fonts/Exo2-Regular/Exo2-Regular_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Regular/Exo2-Regular_gdi.woff") format("woff"), url("../fonts/Exo2-Regular/Exo2-Regular_gdi.ttf") format("truetype"), url("../fonts/Exo2-Regular/Exo2-Regular_gdi.svg#Exo2-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-Medium/Exo2-Medium_gdi.eot");
  src: url("../fonts/Exo2-Medium/Exo2-Medium_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Medium/Exo2-Medium_gdi.woff") format("woff"), url("../fonts/Exo2-Medium/Exo2-Medium_gdi.ttf") format("truetype"), url("../fonts/Exo2-Medium/Exo2-Medium_gdi.svg#Exo2-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.eot");
  src: url("../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.woff") format("woff"), url("../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.ttf") format("truetype"), url("../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.svg#Exo2-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-Bold/Exo2-Bold_gdi.eot");
  src: url("../fonts/Exo2-Bold/Exo2-Bold_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Bold/Exo2-Bold_gdi.woff") format("woff"), url("../fonts/Exo2-Bold/Exo2-Bold_gdi.ttf") format("truetype"), url("../fonts/Exo2-Bold/Exo2-Bold_gdi.svg#Exo2-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-Black/Exo2-Black_gdi.eot");
  src: url("../fonts/Exo2-Black/Exo2-Black_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Black/Exo2-Black_gdi.woff") format("woff"), url("../fonts/Exo2-Black/Exo2-Black_gdi.ttf") format("truetype"), url("../fonts/Exo2-Black/Exo2-Black_gdi.svg#Exo2-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.eot");
  src: url("../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.woff") format("woff"), url("../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.ttf") format("truetype"), url("../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.svg#Exo2-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-Italic/Exo2-Italic_gdi.eot");
  src: url("../fonts/Exo2-Italic/Exo2-Italic_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-Italic/Exo2-Italic_gdi.woff") format("woff"), url("../fonts/Exo2-Italic/Exo2-Italic_gdi.ttf") format("truetype"), url("../fonts/Exo2-Italic/Exo2-Italic_gdi.svg#Exo2-Italic") format("svg");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.eot");
  src: url("../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.woff") format("woff"), url("../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.ttf") format("truetype"), url("../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.svg#Exo2-BoldItalic") format("svg");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-04C0; }
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Exo2", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
  color: #000;
  background: #fff url("../img/bg.png"); }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #000;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h2,
.h2 {
  width: 100%;
  display: table;
  font-size: 45px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  background: url("../img/heading_light_bg.png") 50% 0 no-repeat; }
  h2 span,
  .h2 span {
    height: 145px;
    display: table-cell;
    vertical-align: middle; }

h3 {
  font-size: 28px;
  line-height: 30px;
  margin-bottom: 25px;
  text-align: center; }

p {
  padding: 0;
  margin: 0 0 10px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.btn_close {
  top: -45px;
  right: -84px;
  width: 57px;
  height: 57px;
  cursor: pointer;
  position: absolute;
  background: url("../img/icon-close.png") 0 0 no-repeat; }

.modal-box {
  color: #fff;
  width: 350px;
  background: #221c0d;
  padding: 30px 40px; }
  .modal-box .btn {
    width: 100%; }
  .modal-box.modal-box-xl {
    width: 700px; }

.form-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px; }

.btn {
  margin: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  position: relative;
  padding: 16px 25px;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  background-color: #e8a800;
  text-transform: uppercase;
  touch-action: manipulation;
  border-bottom: 3px solid #997d45;
  border-top: 3px solid transparent; }
  .btn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #fdbf1b;
    border-bottom-color: #fdbf1b; }
  .btn:active {
    border-top-color: #e8a800; }

.btn-white {
  border-bottom: 3px solid #fff; }
  .btn-white:hover {
    border-bottom-color: #fdbf1b; }

.btn-dialog {
  padding-left: 65px;
  background-repeat: no-repeat;
  background-position: 25px 50%;
  background-image: url("../img/icon-dialog.png"); }

.btn-quest {
  padding-left: 57px;
  background-repeat: no-repeat;
  background-position: 25px 50%;
  background-image: url("../img/icon-quest.png"); }

.btn-download {
  padding-left: 75px;
  padding-right: 50px;
  background-repeat: no-repeat;
  background-position: 45px 50%;
  background-image: url("../img/icon-download.png"); }

.btn-door {
  padding-left: 57px;
  background-repeat: no-repeat;
  background-position: 25px 50%;
  background-image: url("../img/icon-doors.png"); }

.form-control {
  margin: 0;
  width: 100%;
  color: #eee;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  padding: 12px 10px;
  display: inline-block;
  background: transparent;
  border: 1px solid #eee;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .form-control::-moz-placeholder {
    color: #eee;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #eee; }
  .form-control::-webkit-input-placeholder {
    color: #eee; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form-control:focus::-moz-placeholder {
      color: transparent;
      opacity: 1; }
    .form-control:focus:-ms-input-placeholder {
      color: transparent; }
    .form-control:focus::-webkit-input-placeholder {
      color: transparent; }
  .form-control.error {
    border-color: #ff0000; }

.error .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 15px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.footer {
  height: 130px;
  padding-top: 40px;
  background: transparent; }
  .footer .cols {
    float: left;
    width: 33.33%; }
    .footer .cols.cols-left {
      padding-top: 10px; }
    .footer .cols.cols-center {
      padding-top: 5px;
      text-align: center; }
    .footer .cols.cols-right {
      text-align: right; }
  .footer .dev {
    color: #000;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    display: inline-block;
    text-decoration: none;
    padding: 15px 90px 15px 0;
    background: url("../img/dev-logo.png") 100% 50% no-repeat; }
  .footer .address {
    font-size: 20px;
    line-height: 30px;
    padding-left: 35px;
    display: inline-block;
    background: url("../img/icon-location.png") 0 50% no-repeat; }
  .footer .contact-link {
    color: #666;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    display: inline-block;
    text-decoration: underline; }
    .footer .contact-link:hover {
      text-decoration: none; }
  .footer .copy {
    color: #aaa;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px; }

.b01 {
  color: #fff;
  height: 968px;
  background: url("../img/b01_bg.jpg") 50% 0 no-repeat; }
  .b01 .top {
    height: 300px;
    min-width: 1200px;
    padding: 35px 15px 0 15px; }
    .b01 .top:before, .b01 .top:after {
      content: " ";
      display: table; }
    .b01 .top:after {
      clear: both; }
    .b01 .top .logo {
      float: left;
      width: 165px; }
  .b01 .top-contact {
    float: right;
    width: 300px;
    text-align: right; }
    .b01 .top-contact li {
      margin-bottom: 10px; }
    .b01 .top-contact .tel {
      color: #fff;
      font-size: 30px;
      line-height: 30px;
      padding-left: 55px;
      display: inline-block;
      text-decoration: none;
      background: url("../img/icon-tel.png") 0 50% no-repeat; }
    .b01 .top-contact .btn-callback {
      color: #fff;
      outline: none;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 1px solid #e8a800; }
      .b01 .top-contact .btn-callback:hover {
        color: #e8a800;
        border-bottom: transparent; }
  .b01 h1 {
    margin-bottom: 30px; }
    .b01 h1 .line1 {
      font-size: 70px;
      font-weight: 600;
      line-height: 80px; }
    .b01 h1 .line2 {
      font-size: 55px;
      font-weight: 200;
      line-height: 60px; }
  .b01 .text {
    font-size: 28px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 100px; }
  .b01 .text-second {
    height: 58px;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-right: 35px;
    display: inline-block; }

.b02 {
  color: #fff;
  height: 700px;
  padding-top: 110px;
  background: url("../img/b02_bg.jpg") 50% 0 no-repeat; }
  .b02 .h2 {
    margin-bottom: 60px;
    background-image: url("../img/heading_dark_bg.png"); }
  .b02 .text {
    font-size: 32px;
    font-weight: 300;
    line-height: 46px;
    margin-bottom: 80px; }
  .b02 .text-bottom {
    margin-left: 535px; }
    .b02 .text-bottom li {
      color: #997d45;
      font-size: 24px;
      font-weight: 300;
      line-height: 36px;
      font-style: italic; }
      .b02 .text-bottom li strong {
        color: #fff;
        font-size: 30px;
        font-weight: 700; }

.b03 {
  height: 900px;
  padding-top: 95px;
  background: url("../img/b03_bg.jpg") 50% 0 no-repeat; }
  .b03 .subtitle {
    color: #a88950;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-bottom: 85px; }
  .b03 .text {
    color: #444;
    width: 475px;
    font-size: 24px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 40px; }
  .b03 .cert {
    margin: 0 -5px; }
    .b03 .cert li {
      float: left;
      padding: 3px;
      width: 135px;
      margin: 0 5px;
      position: relative; }
      .b03 .cert li a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        position: absolute;
        border: 3px solid #e9dbc3;
        background: rgba(169, 137, 80, 0); }
        .b03 .cert li a:before {
          content: '';
          right: -3px;
          bottom: -3px;
          width: 25px;
          height: 25px;
          position: absolute;
          background: url("../img/iocn_cert-view.png") 0 0 no-repeat; }
        .b03 .cert li a:hover {
          border-color: #bba172;
          background: rgba(169, 137, 80, 0.7); }
          .b03 .cert li a:hover:before {
            background-position: 0 -25px; }

.b04 {
  height: 800px;
  padding-top: 60px;
  background: url("../img/b04_bg.png") 50% 100% no-repeat; }
  .b04 .h2 {
    margin-bottom: 55px; }
  .b04 .stock {
    margin: 0 -10px 70px -10px; }
    .b04 .stock > li {
      width: 50%;
      float: left;
      padding: 0 10px; }
      .b04 .stock > li:first-child h4 {
        color: #997d45; }
      .b04 .stock > li:first-child .vendors > li {
        border-color: #997d45;
        -webkit-box-shadow: 2px 2px 0px 0px rgba(249, 243, 230, 0.9);
        box-shadow: 2px 2px 0px 0px rgba(249, 243, 230, 0.9); }
      .b04 .stock > li:last-child h4 {
        color: #444; }
      .b04 .stock > li:last-child .vendors > li {
        border-color: #d9d9d9;
        -webkit-box-shadow: 2px 2px 0px 0px rgba(243, 243, 243, 0.9);
        box-shadow: 2px 2px 0px 0px rgba(243, 243, 243, 0.9); }
    .b04 .stock h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 10px; }
  .b04 .vendors {
    margin: 0 -5px; }
    .b04 .vendors > li {
      float: left;
      width: 185px;
      margin: 0 5px 10px 5px;
      border: 1px solid transparent; }
  .b04 .text li:first-child {
    float: left;
    width: 600px;
    color: #997d45;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    font-style: italic; }
  .b04 .text li:last-child {
    width: 535px;
    float: right; }

.b05 {
  height: 570px;
  padding-top: 180px;
  background: url("../img/b05_bg.jpg") 50% 0 no-repeat; }
  .b05 .top {
    margin-bottom: 40px; }
    .b05 .top li {
      float: left;
      width: 50%;
      height: 100px; }
      .b05 .top li:before, .b05 .top li:after {
        content: " ";
        display: table; }
      .b05 .top li:after {
        clear: both; }
      .b05 .top li .value {
        float: left;
        color: #e8a800;
        font-size: 80px;
        font-weight: 700;
        line-height: 100px;
        margin-right: 10px; }
      .b05 .top li .legend {
        color: #fff;
        float: left;
        font-size: 18px;
        font-weight: 300;
        padding-top: 25px; }
      .b05 .top li:first-child {
        padding-left: 80px; }
      .b05 .top li:last-child {
        padding-left: 110px; }
  .b05 .bottom li {
    width: 50%;
    float: left;
    color: #fff;
    height: 100px; }
    .b05 .bottom li:before, .b05 .bottom li:after {
      content: " ";
      display: table; }
    .b05 .bottom li:after {
      clear: both; }
    .b05 .bottom li .value {
      float: left;
      font-size: 80px;
      font-weight: 700;
      line-height: 100px;
      margin-right: 10px; }
    .b05 .bottom li .legend {
      float: left;
      font-size: 18px;
      font-weight: 300;
      padding-top: 25px; }
    .b05 .bottom li:first-child {
      padding-left: 315px; }
    .b05 .bottom li:last-child {
      padding-left: 110px; }
      .b05 .bottom li:last-child .legend {
        padding-top: 45px; }

.b06 {
  height: 860px;
  padding-top: 70px;
  background: url("../img/b06_bg.png") 50% 0 no-repeat; }
  .b06 .h2 {
    margin-bottom: 70px; }
  .b06 .rows {
    position: relative; }
    .b06 .rows .col-left {
      z-index: 5;
      width: 600px;
      float: left;
      position: relative; }
    .b06 .rows .col-right {
      z-index: 20;
      float: left;
      width: 570px;
      position: relative; }
  .b06 .img-box {
    z-index: 25;
    margin-left: -30px;
    -webkit-box-shadow: 10px 10px 0px 0px #f0ece3;
    box-shadow: 10px 10px 0px 0px #f0ece3; }
  .b06 .map-list {
    padding-bottom: 20px; }
    .b06 .map-list li {
      font-size: 22px;
      font-weight: 300;
      line-height: 24px;
      padding-left: 30px;
      margin-bottom: 30px;
      background: url("../img/icon-check.jpg") 0 2px no-repeat; }
  .b06 #map {
    z-index: 10;
    height: 300px; }

.b07 {
  height: 820px;
  padding-top: 30px;
  background: url("../img/b07_bg.jpg") 50% 0 no-repeat; }
  .b07 .h2 {
    margin-bottom: 65px; }
  .b07 .text {
    height: 387px;
    color: #fff;
    font-size: 22px;
    line-height: 34px;
    padding-top: 55px;
    padding-left: 75px;
    margin-bottom: 30px; }
  .b07 strong {
    color: #e8a800;
    display: block;
    font-weight: 700; }

.b08 {
  color: #fff;
  height: 574px;
  padding-top: 100px;
  background: url("../img/b08_bg.jpg") 50% 0 no-repeat; }
  .b08 .h2 {
    color: #fff;
    margin-bottom: 50px;
    background-image: url("../img/heading_dark_bg.png"); }
  .b08 .period {
    margin-left: 257px;
    background: url("../img/b08_line.png") 250px 33px no-repeat; }
    .b08 .period li {
      padding-left: 27px;
      background: url("../img/period-marker.png") 0 50% no-repeat; }
      .b08 .period li:before, .b08 .period li:after {
        content: " ";
        display: table; }
      .b08 .period li:after {
        clear: both; }
      .b08 .period li .legend {
        float: left;
        width: 410px;
        padding: 12px 0;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px; }
      .b08 .period li .value {
        float: left;
        width: 190px;
        color: #e8a800;
        padding: 12px 0;
        font-size: 22px;
        font-weight: 700;
        line-height: 30px;
        text-align: right; }
      .b08 .period li:last-child .value {
        padding-top: 5px; }
        .b08 .period li:last-child .value .value-text {
          color: #e8a800;
          font-size: 16px;
          font-weight: 300;
          line-height: 20px; }
        .b08 .period li:last-child .value .value-tel {
          color: #fff;
          font-size: 23px;
          font-weight: 700;
          line-height: 26px;
          display: inline-block;
          text-decoration: none; }

.b09 {
  height: 930px;
  padding-top: 100px;
  background: url("../img/b09_bg.jpg") 50% 0 no-repeat; }
  .b09 .h2 {
    margin-bottom: 70px; }
  .b09 .text-top {
    height: 220px; }
    .b09 .text-top li {
      float: left; }
      .b09 .text-top li.t1 {
        color: #444;
        width: 395px;
        padding: 10px 0;
        font-size: 26px;
        line-height: 30px; }
      .b09 .text-top li.t2 {
        width: 275px;
        color: #997d45;
        font-size: 72px;
        font-weight: 700;
        line-height: 80px; }
      .b09 .text-top li.t3 {
        color: #888;
        width: 160px;
        font-size: 16px;
        line-height: 20px;
        padding-top: 30px; }
  .b09 .text {
    margin: 0 0 135px 95px; }
    .b09 .text li {
      float: left;
      width: 340px; }
      .b09 .text li:first-child {
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px; }
        .b09 .text li:first-child span {
          font-size: 17px;
          font-weight: 200; }
      .b09 .text li:last-child {
        color: #e8a800;
        font-size: 50px;
        font-weight: 700;
        line-height: 50px; }
        .b09 .text li:last-child span {
          font-size: 23px; }
  .b09 .help-text {
    color: #997d45;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    padding: 19px 0 0 10px;
    text-transform: uppercase; }

.b10 {
  height: 740px;
  padding-top: 40px;
  background: url("../img/b10_bg.png") 50% 200px no-repeat; }
  .b10 .h2 {
    font-size: 40px;
    margin: 0 -10px 85px -10px; }
  .b10 .product li {
    width: 25%;
    float: left;
    position: relative; }
    .b10 .product li a {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      position: absolute;
      text-align: center;
      padding-top: 145px;
      text-decoration: none;
      background: url("../img/product_bg.png") 0 100% repeat-x;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .b10 .product li a:hover {
        background: transparent; }
        .b10 .product li a:hover span {
          display: none; }
    .b10 .product li:nth-child(6) a {
      padding-top: 135px; }

.b11 {
  padding-top: 30px;
  padding-bottom: 70px;
  background: url("../img/b11_bg.jpg") 50% 240px no-repeat; }
  .b11 .h2 {
    font-size: 40px;
    margin-bottom: 60px; }
  .b11 .h3 {
    font-size: 34px;
    font-weight: 300;
    line-height: 40px;
    text-align: center; }
    .b11 .h3 strong {
      color: #997d45;
      font-weight: 700;
      display: block;
      margin-bottom: 50px; }
  .b11 .glass {
    height: 470px;
    margin-left: 368px; }
    .b11 .glass > li {
      float: left;
      width: 300px; }
    .b11 .glass h4 {
      font-size: 30px;
      font-weight: 200;
      line-height: 34px;
      margin-bottom: 15px; }
  .b11 .glass-vendors li {
    width: 139px;
    margin-bottom: 10px;
    border: 1px solid #efe6d5;
    -webkit-box-shadow: 2px 2px 0px 0px #f9f3e6;
    box-shadow: 2px 2px 0px 0px #f9f3e6; }
  .b11 .step li {
    float: left;
    padding-left: 95px;
    position: relative;
    margin-bottom: 60px; }
    .b11 .step li:before {
      top: 50%;
      right: 0;
      content: '';
      height: 48px;
      margin-top: -24px;
      position: absolute;
      border-right: 1px solid #ccc; }
    .b11 .step li.item1 {
      width: 340px;
      margin-right: 70px;
      background: url("../img/b11_item1.png") 0 50% no-repeat; }
    .b11 .step li.item2 {
      width: 380px;
      background: url("../img/b11_item2.png") 0 50% no-repeat; }
    .b11 .step li.item3 {
      float: right;
      width: 330px;
      background: url("../img/b11_item3.png") 0 50% no-repeat; }
      .b11 .step li.item3:before {
        display: none; }
    .b11 .step li .step-title {
      color: #e8a800;
      font-size: 22px;
      font-weight: 700;
      line-height: 24px; }
    .b11 .step li .step-text {
      font-size: 17px;
      font-weight: 300;
      line-height: 24px; }
  .b11 .text-second {
    color: #997d45;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    display: inline-block;
    padding: 19px 0 0 10px;
    text-transform: uppercase; }

.b12 {
  height: 850px;
  padding-top: 55px;
  padding-bottom: 70px;
  background: url("../img/b12_bg.jpg") 50% 95px no-repeat; }
  .b12 .h2 {
    margin-bottom: 45px; }
  .b12 .subtitle {
    color: #444;
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    text-align: right;
    margin-bottom: 38px; }
  .b12 .text-block {
    width: 100%;
    color: #fff;
    display: table;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 40px;
    text-align: right; }
    .b12 .text-block p {
      margin-bottom: 0; }
    .b12 .text-block span {
      font-weight: 300;
      display: block; }
    .b12 .text-block strong {
      font-weight: 900; }
    .b12 .text-block .inner {
      height: 216px;
      padding-right: 70px;
      display: table-cell;
      vertical-align: middle; }
    .b12 .text-block .price {
      color: #e8a800;
      font-size: 24px;
      font-weight: 700;
      line-height: 50px; }
      .b12 .text-block .price strong {
        font-size: 50px;
        font-weight: 900; }

.b13 {
  color: #fff;
  height: 500px;
  padding-top: 100px;
  background: url("../img/b13_bg.jpg") 50% 0 no-repeat; }
  .b13 .h2 {
    margin-bottom: 40px;
    background-image: url("../img/heading_dark_bg.png"); }
  .b13 .text {
    margin-left: 240px; }
    .b13 .text li {
      float: left;
      width: 420px; }
      .b13 .text li:first-child {
        padding: 10px 0;
        font-size: 34px;
        font-weight: 200;
        line-height: 40px; }
      .b13 .text li:last-child {
        color: #e8a800;
        font-size: 36px;
        font-weight: 700;
        line-height: 100px; }
        .b13 .text li:last-child strong {
          font-size: 90px; }

.b14 {
  height: 1320px;
  padding-top: 90px;
  background: url("../img/b14_bg.jpg") 50% 0 no-repeat; }
  .b14 .h2 {
    font-size: 40px;
    margin-bottom: 50px; }
  .b14 .sale {
    height: 125px;
    overflow: hidden; }
    .b14 .sale li {
      float: left; }
      .b14 .sale li:first-child {
        width: 450px;
        padding: 5px 0;
        font-size: 33px;
        font-weight: 200;
        line-height: 40px; }
        .b14 .sale li:first-child span {
          font-weight: 400; }
      .b14 .sale li:last-child {
        width: 150px;
        font-size: 36px;
        font-weight: 900;
        line-height: 90px; }
        .b14 .sale li:last-child strong {
          font-size: 85px; }
  .b14 .text-one {
    margin-left: 600px;
    margin-bottom: 90px; }
    .b14 .text-one li:first-child {
      font-size: 30px;
      font-weight: 200;
      line-height: 34px; }
    .b14 .text-one li:last-child {
      font-size: 50px;
      font-weight: 500;
      line-height: 60px; }
      .b14 .text-one li:last-child a {
        color: #997d45;
        text-decoration: none; }
  .b14 .program > li {
    float: left; }
    .b14 .program > li:first-child {
      width: 495px; }
    .b14 .program > li:last-child {
      width: 570px; }
  .b14 .program .btn {
    margin-left: 80px; }
  .b14 .program-list {
    padding-bottom: 50px; }
    .b14 .program-list li {
      font-size: 18px;
      font-weight: 300;
      line-height: 20px;
      margin-bottom: 30px;
      padding: 10px 0 10px 75px; }
      .b14 .program-list li.item1 {
        background: url("../img/b14_item1.png") 0 50% no-repeat; }
      .b14 .program-list li.item2 {
        background: url("../img/b14_item2.png") 0 50% no-repeat; }
      .b14 .program-list li.item3 {
        background: url("../img/b14_item3.png") 0 50% no-repeat; }
      .b14 .program-list li.item4 {
        background: url("../img/b14_item4.png") 0 50% no-repeat; }

.b15 {
  height: 870px;
  padding-top: 90px;
  background: url("../img/b15_bg.jpg") 50% 0 no-repeat; }
  .b15 .h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
    background-image: url("../img/heading_dark_bg.png"); }
  .b15 .heading {
    height: 150px;
    color: #997d45;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    font-style: italic; }
  .b15 .text {
    height: 250px;
    position: relative; }
    .b15 .text li {
      color: #fff;
      font-size: 17px;
      line-height: 20px; }
      .b15 .text li.item1 {
        padding-left: 615px;
        margin-bottom: 80px; }
      .b15 .text li.item2 {
        padding-left: 725px;
        margin-right: -10px; }
  .b15 .text-right {
    padding-right: 10px; }

.b16 {
  height: 1010px;
  padding-top: 125px;
  background: url("../img/b16_bg.jpg") 50% 0 no-repeat; }
  .b16 .h2 {
    font-size: 40px;
    margin-bottom: 30px; }
  .b16 .subtitle {
    color: #997d45;
    text-align: center;
    font-style: italic;
    margin-bottom: 40px; }
    .b16 .subtitle strong {
      display: block;
      font-size: 44px;
      font-weight: 700;
      line-height: 50px; }
    .b16 .subtitle span {
      display: block;
      font-size: 22px;
      font-weight: 300;
      line-height: 26px; }
  .b16 .free {
    margin-bottom: 40px; }
    .b16 .free li {
      width: 540px;
      position: relative;
      -webkit-box-shadow: 10px 10px 0px 0px #f0ece3;
      box-shadow: 10px 10px 0px 0px #f0ece3; }
      .b16 .free li:first-child {
        float: left; }
      .b16 .free li:last-child {
        float: right; }
      .b16 .free li a {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        overflow: hidden;
        position: absolute;
        background: url("../img/b16_hover.png") 0 100% repeat-x; }
        .b16 .free li a:hover {
          background: transparent; }
          .b16 .free li a:hover .text {
            margin-top: 0;
            -webkit-transition: 0.6s;
            -o-transition: 0.6s;
            transition: 0.6s;
            background: rgba(153, 125, 69, 0.9); }
      .b16 .free li .text {
        color: #fff;
        width: 100%;
        height: 100%;
        font-size: 17px;
        line-height: 26px;
        position: relative;
        text-align: center;
        margin-top: 180px;
        padding: 70px 60px 20px 60px;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s; }
        .b16 .free li .text h4 {
          font-size: 22px;
          font-weight: 600;
          line-height: 24px;
          margin-bottom: 25px; }
  .b16 .text-bottom {
    margin-bottom: 20px; }
    .b16 .text-bottom li {
      float: left; }
      .b16 .text-bottom li:first-child {
        color: #888;
        width: 180px;
        font-size: 40px;
        font-weight: 200;
        line-height: 50px; }
      .b16 .text-bottom li:last-child {
        color: #444;
        width: 250px;
        padding: 5px 0;
        font-size: 17px;
        line-height: 20px; }

.b17 {
  height: 565px;
  text-align: center;
  padding-top: 90px;
  background: url("../img/b17_bg.jpg") 50% 0 no-repeat; }
  .b17 .heading {
    color: #e8a800;
    font-size: 80px;
    font-weight: 700;
    line-height: 90px; }
  .b17 .text-one {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 30px; }
  .b17 .text-two {
    color: #e8a800;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px; }
  .b17 .tel {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    text-decoration: none; }

/*# sourceMappingURL=main.css.map */
