* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background: #fff url("../img/bg.png");
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;
	text-decoration: none;

	&:hover,
	&:focus {
		outline: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h2,
.h2 {
	width: 100%;
	display: table;
	font-size: 45px;
	font-weight: 500;
	line-height: 50px;
	text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
	background: url("../img/heading_light_bg.png") 50% 0 no-repeat;

	span {
		height: 145px;
		display: table-cell;
		vertical-align: middle;

	}
}

h3 {
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 25px;
	text-align: center;
}

p {
	padding: 0;
	margin: 0 0 10px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}



.btn_close {
	top: -45px;
	right: -84px;
	width: 57px;
	height: 57px;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon-close.png") 0 0 no-repeat;
}

.modal-box {
	color: #fff;
	width: 350px;
	background: #221c0d;
	padding: 30px 40px;

	.btn {
		width: 100%;
	}

	&.modal-box-xl {
		width: 700px;
	}
}

.form-title {
	font-size: 28px;
	font-weight: 500;
	line-height: 30px;
	text-align: center;
	margin-bottom: 25px;
}
