.b07 {
	height: 820px;
	padding-top: 30px;
	background: url("../img/b07_bg.jpg") 50% 0 no-repeat;


	.h2 {
		margin-bottom: 65px;
	}

	.text {
		height: 387px;
		color: #fff;
		font-size: 22px;
		line-height: 34px;
		padding-top: 55px;
		padding-left: 75px;
		margin-bottom: 30px;
	}

	strong {
		color: #e8a800;
		display: block;
		font-weight: 700;
	}
}