.b03 {
	height: 900px;
	padding-top: 95px;
	background: url("../img/b03_bg.jpg") 50% 0 no-repeat;

	.subtitle {
		color: #a88950;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
		margin-bottom: 85px;
	}

	.text {
		color: #444;
		width: 475px;
		font-size: 24px;
		font-weight: 300;
		line-height: 36px;
		margin-bottom: 40px;
	}

	.cert {
		margin: 0 -5px;

		li {
			float: left;
			padding: 3px;
			width: 135px;
			margin: 0 5px;
			position: relative;

			a {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				position: absolute;
				border: 3px solid #e9dbc3;
				background: rgba(169,137,80, 0);

				&:before {
					content: '';
					right: -3px;
					bottom: -3px;
					width: 25px;
					height: 25px;
					position: absolute;
					background: url("../img/iocn_cert-view.png") 0 0 no-repeat;
				}

				&:hover {
					border-color: #bba172;
					background: rgba(169,137,80, 0.7);

					&:before {
						background-position: 0 -25px;
					}
				}
			}
		}
	}
}