.b14 {
	height: 1320px;
	padding-top: 90px;
	background: url("../img/b14_bg.jpg") 50% 0 no-repeat;

	.h2 {
		font-size: 40px;
		margin-bottom: 50px;
	}

	.sale {
		height: 125px;
		overflow: hidden;

		li {
			float: left;

			&:first-child {
				width: 450px;
				padding: 5px 0;
				font-size: 33px;
				font-weight: 200;
				line-height: 40px;

				span {
					font-weight: 400;
				}
			}

			&:last-child {
				width: 150px;
				font-size: 36px;
				font-weight: 900;
				line-height: 90px;

				strong {
					font-size: 85px;
				}
			}
		}
	}

	.text-one {
		margin-left: 600px;
		margin-bottom: 90px;

		li {

			&:first-child {
				font-size: 30px;
				font-weight: 200;
				line-height: 34px;
			}

			&:last-child {
				font-size: 50px;
				font-weight: 500;
				line-height: 60px;

				a {
					color: #997d45;
					text-decoration: none;
				}
			}
		}
	}

	.program {

		> li {
			float: left;

			&:first-child {
				width: 495px;
			}

			&:last-child {
				width: 570px;
			}
		}

		.btn {
			margin-left: 80px;
		}
	}

	.program-list {
		padding-bottom: 50px;

		li {
			font-size: 18px;
			font-weight: 300;
			line-height: 20px;
			margin-bottom: 30px;
			padding: 10px 0 10px 75px;

			&.item1 {
				background: url("../img/b14_item1.png") 0 50% no-repeat;
			}

			&.item2 {
				background: url("../img/b14_item2.png") 0 50% no-repeat;
			}

			&.item3 {
				background: url("../img/b14_item3.png") 0 50% no-repeat;
			}

			&.item4 {
				background: url("../img/b14_item4.png") 0 50% no-repeat;
			}
		}
	}
}