.b13 {
	color: #fff;
	height: 500px;
	padding-top: 100px;
	background: url("../img/b13_bg.jpg") 50% 0 no-repeat;

	.h2 {
		margin-bottom: 40px;
		background-image: url("../img/heading_dark_bg.png");
	}

	.text {
		margin-left: 240px;

		li {
			float: left;
			width: 420px;

			&:first-child {
				padding: 10px 0;
				font-size: 34px;
				font-weight: 200;
				line-height: 40px;
			}

			&:last-child {
				color: #e8a800;
				font-size: 36px;
				font-weight: 700;
				line-height: 100px;

				strong {
					font-size: 90px;
				}
			}
		}
	}
}