.b12 {
	height: 850px;
	padding-top: 55px;
	padding-bottom: 70px;
	background: url("../img/b12_bg.jpg") 50% 95px no-repeat;

	.h2 {
		margin-bottom: 45px;
	}

	.subtitle {
		color: #444;
		font-size: 25px;
		font-weight: 300;
		line-height: 30px;
		text-align: right;
		margin-bottom: 38px;
	}

	.text-block {
		width: 100%;
		color: #fff;
		display: table;
		font-size: 20px;
		font-weight: 600;
		line-height: 30px;
		margin-bottom: 40px;
		text-align: right;

		p {
			margin-bottom: 0;
		}

		span {
			font-weight: 300;
			display: block;
		}

		strong {
			font-weight: 900;
		}

		.inner {
			height: 216px;
			padding-right: 70px;
			display: table-cell;
			vertical-align: middle;
		}

		.price {
			color: #e8a800;
			font-size: 24px;
			font-weight: 700;
			line-height: 50px;

			strong {
				font-size: 50px;
				font-weight: 900;
			}
		}
	}
}