.b08 {
	color: #fff;
	height: 574px;
	padding-top: 100px;
	background: url("../img/b08_bg.jpg") 50% 0 no-repeat;

	.h2 {
		color: #fff;
		margin-bottom: 50px;
		background-image: url("../img/heading_dark_bg.png");
	}

	.period {
		margin-left: 257px;
		background: url("../img/b08_line.png") 250px 33px no-repeat;

		li {
			@include clearfix();
			padding-left: 27px;
			background: url("../img/period-marker.png") 0 50% no-repeat;

			.legend {
				float: left;
				width: 410px;
				padding: 12px 0;
				font-size: 20px;
				font-weight: 300;
				line-height: 30px;
			}

			.value {
				float: left;
				width: 190px;
				color: #e8a800;
				padding: 12px 0;
				font-size: 22px;
				font-weight: 700;
				line-height: 30px;
				text-align: right;
			}


			&:last-child {

				.value {
					padding-top: 5px;

					.value-text {
						color: #e8a800;
						font-size: 16px;
						font-weight: 300;
						line-height: 20px;
					}

					.value-tel {
						color: #fff;
						font-size: 23px;
						font-weight: 700;
						line-height: 26px;
						display: inline-block;
						text-decoration: none;
					}
				}
			}
		}
	}
}