.b15 {
	height: 870px;
	padding-top: 90px;
	background: url("../img/b15_bg.jpg") 50% 0 no-repeat;


	.h2 {
		color: #fff;
		font-size: 40px;
		margin-bottom: 30px;
		background-image: url("../img/heading_dark_bg.png");
	}

	.heading {
		height: 150px;
		color: #997d45;
		font-size: 24px;
		font-weight: 300;
		line-height: 30px;
		text-align: center;
		font-style: italic;
	}

	.text {
		height: 250px;
		position: relative;

		li {
			color: #fff;
			font-size: 17px;
			line-height: 20px;

			&.item1 {
				padding-left: 615px;
				margin-bottom: 80px;
			}

			&.item2 {
				padding-left: 725px;
				margin-right: -10px;
			}
		}
	}

	.text-right {
		padding-right: 10px;
	}
}