.b05 {
	height: 570px;
	padding-top: 180px;
	background: url("../img/b05_bg.jpg") 50% 0 no-repeat;

	.top {
		margin-bottom: 40px;

		li {
			float: left;
			width: 50%;
			height: 100px;
			@include clearfix();

			.value {
				float: left;
				color: #e8a800;
				font-size: 80px;
				font-weight: 700;
				line-height: 100px;
				margin-right: 10px;
			}

			.legend {
				color: #fff;
				float: left;
				font-size: 18px;
				font-weight: 300;
				padding-top: 25px;
			}

			&:first-child {
				padding-left: 80px;
			}

			&:last-child {
				padding-left: 110px;
			}
		}
	}


	.bottom {

		li {
			width: 50%;
			float: left;
			color: #fff;
			height: 100px;
			@include clearfix();

			.value {
				float: left;
				font-size: 80px;
				font-weight: 700;
				line-height: 100px;
				margin-right: 10px;
			}

			.legend {
				float: left;
				font-size: 18px;
				font-weight: 300;
				padding-top: 25px;
			}

			&:first-child {
				padding-left: 315px;
			}

			&:last-child {
				padding-left: 110px;

				.legend {
					padding-top: 45px;
				}
			}
		}
	}
}
