.b11 {
	padding-top: 30px;
	padding-bottom: 70px;
	background: url("../img/b11_bg.jpg") 50% 240px no-repeat;

	.h2 {
		font-size: 40px;
		margin-bottom: 60px;
	}

	.h3 {
		font-size: 34px;
		font-weight: 300;
		line-height: 40px;
		text-align: center;

		strong {
			color: #997d45;
			font-weight: 700;
			display: block;
			margin-bottom: 50px;
		}
	}

	.glass {
		height: 470px;
		margin-left: 368px;

		> li {
			float: left;
			width: 300px;
		}

		h4 {
			font-size: 30px;
			font-weight: 200;
			line-height: 34px;
			margin-bottom: 15px;
		}
	}

	.glass-vendors {

		li {
			width: 139px;
			margin-bottom: 10px;
			border: 1px solid #efe6d5;
			@include box-shadow(2px 2px 0px 0px rgba(249, 243, 230, 1));
		}
	}

	.step {

		li {
			float: left;
			padding-left: 95px;
			position: relative;
			margin-bottom: 60px;

			&:before {
				top: 50%;
				right: 0;
				content: '';
				height: 48px;
				margin-top: -24px;
				position: absolute;
				border-right: 1px solid #ccc;
			}

			&.item1 {
				width: 340px;
				margin-right: 70px;
				background: url("../img/b11_item1.png") 0 50% no-repeat;
			}

			&.item2 {
				width: 380px;
				background: url("../img/b11_item2.png") 0 50% no-repeat;
			}

			&.item3 {
				float: right;
				width: 330px;
				background: url("../img/b11_item3.png") 0 50% no-repeat;

				&:before {
					display: none;
				}
			}

			.step-title {
				color: #e8a800;
				font-size: 22px;
				font-weight: 700;
				line-height: 24px;
			}

			.step-text {
				font-size: 17px;
				font-weight: 300;
				line-height: 24px;
			}
		}
	}

	.text-second {
		color: #997d45;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		display: inline-block;
		padding: 19px 0 0 10px;
		text-transform: uppercase;
	}
}