.b09 {
	height: 930px;
	padding-top: 100px;
	background: url("../img/b09_bg.jpg") 50% 0 no-repeat;


	.h2 {
		margin-bottom: 70px;
	}

	.text-top {
		height: 220px;

		li {
			float: left;

			&.t1 {
				color: #444;
				width: 395px;
				padding: 10px 0;
				font-size: 26px;
				line-height: 30px;
			}

			&.t2 {
				width: 275px;
				color: #997d45;
				font-size: 72px;
				font-weight: 700;
				line-height: 80px;
			}

			&.t3 {
				color: #888;
				width: 160px;
				font-size: 16px;
				line-height: 20px;
				padding-top: 30px;
			}
		}
	}

	.text {
		margin: 0 0 135px 95px;

		li {
			float: left;
			width: 340px;

			&:first-child {
				color: #fff;
				font-size: 20px;
				font-weight: 500;
				line-height: 25px;

				span {
					font-size: 17px;
					font-weight: 200;
				}
			}

			&:last-child {
				color: #e8a800;
				font-size: 50px;
				font-weight: 700;
				line-height: 50px;

				span {
					font-size: 23px;
				}
			}
		}
	}

	.help-text {
		color: #997d45;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		display: inline-block;
		padding: 19px 0 0 10px;
		text-transform: uppercase;
	}
}

