.b06 {
	height: 860px;
	padding-top: 70px;
	background: url("../img/b06_bg.png") 50% 0 no-repeat;


	.h2 {
		margin-bottom: 70px;
	}

	.rows {
		position: relative;

		.col-left {
			z-index: 5;
			width: 600px;
			float: left;
			position: relative;
		}

		.col-right {
			z-index: 20;
			float: left;
			width: 570px;
			position: relative;
		}
	}

	.img-box {
		z-index: 25;
		margin-left: -30px;
		@include box-shadow( 10px 10px 0px 0px #f0ece3);
	}

	.map-list {
		padding-bottom: 20px;

		li {
			font-size: 22px;
			font-weight: 300;
			line-height: 24px;
			padding-left: 30px;
			margin-bottom: 30px;
			background: url("../img/icon-check.jpg") 0 2px no-repeat;
		}
	}

	#map {
		z-index: 10;
		height: 300px;
	}
}

