.b02 {
	color: #fff;
	height: 700px;
	padding-top: 110px;
	background: url("../img/b02_bg.jpg") 50% 0 no-repeat;

	.h2 {
		margin-bottom: 60px;
		background-image: url("../img/heading_dark_bg.png");
	}

	.text {
		font-size: 32px;
		font-weight: 300;
		line-height: 46px;
		margin-bottom: 80px;
	}

	.text-bottom {
		margin-left: 535px;

		li {
			color: #997d45;
			font-size: 24px;
			font-weight: 300;
			line-height: 36px;
			font-style: italic;

			strong {
				color: #fff;
				font-size: 30px;
				font-weight: 700;
			}
		}
	}

}
