.b01 {
	color: #fff;
	height: 968px;
	background: url("../img/b01_bg.jpg") 50% 0 no-repeat;

	.top {
		height: 300px;
		min-width: 1200px;
		@include clearfix();
		padding: 35px 15px 0 15px;

		.logo {
			float: left;
			width: 165px;
		}
	}

	.top-contact {
		float: right;
		width: 300px;
		text-align: right;

		li {
			margin-bottom: 10px;
		}

		.tel {
			color: #fff;
			font-size: 30px;
			line-height: 30px;
			padding-left: 55px;
			display: inline-block;
			text-decoration: none;
			background: url("../img/icon-tel.png") 0 50% no-repeat;
		}

		.btn-callback {
			color: #fff;
			outline: none;
			font-weight: 600;
			font-size: 12px;
			line-height: 18px;
			display: inline-block;
			text-transform: uppercase;
			border-bottom: 1px solid #e8a800;

			&:hover {
				color: #e8a800;
				border-bottom: transparent;
			}
		}
	}

	h1 {
		margin-bottom: 30px;

		.line1 {
			font-size: 70px;
			font-weight: 600;
			line-height: 80px;
		}

		.line2 {
			font-size: 55px;
			font-weight: 200;
			line-height: 60px;
		}
	}

	.text {
		font-size: 28px;
		font-weight: 200;
		line-height: 30px;
		margin-bottom: 100px;
	}

	.text-second {
		height: 58px;
		padding: 15px 0;
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
		margin-right: 35px;
		display: inline-block;
	}
}

