.b16 {
	height: 1010px;
	padding-top: 125px;
	background: url("../img/b16_bg.jpg") 50% 0 no-repeat;


	.h2 {
		font-size: 40px;
		margin-bottom: 30px;
	}

	.subtitle {
		color: #997d45;
		text-align: center;
		font-style: italic;
		margin-bottom: 40px;

		strong {
			display: block;
			font-size: 44px;
			font-weight: 700;
			line-height: 50px;
		}

		span {
			display: block;
			font-size: 22px;
			font-weight: 300;
			line-height: 26px;
		}
	}

	.free {
		margin-bottom: 40px;

		li {
			width: 540px;
			position: relative;
			@include box-shadow( 10px 10px 0px 0px #f0ece3);

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}

			a {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				display: block;
				overflow: hidden;
				position: absolute;
				background: url("../img/b16_hover.png") 0 100% repeat-x;

				&:hover {
					background: transparent;

					.text {
						margin-top: 0;
						@include transition(.6s);
						background: rgba(153,125,69, 0.9);
					}
				}
			}

			.text {
				color: #fff;
				width: 100%;
				height: 100%;
				font-size: 17px;
				line-height: 26px;
				position: relative;
				text-align: center;
				margin-top: 180px;
				padding: 70px 60px 20px 60px;
				@include transition(.6s);

				h4 {
					font-size: 22px;
					font-weight: 600;
					line-height: 24px;
					margin-bottom: 25px;
				}
			}
		}
	}

	.text-bottom {
		margin-bottom: 20px;

		li {
			float: left;

			&:first-child {
				color: #888;
				width: 180px;
				font-size: 40px;
				font-weight: 200;
				line-height: 50px;
			}

			&:last-child {
				color: #444;
				width: 250px;
				padding: 5px 0;
				font-size: 17px;
				line-height: 20px;
			}
		}
	}
}