.b04 {
	height: 800px;
	padding-top: 60px;
	background: url("../img/b04_bg.png") 50% 100% no-repeat;

	.h2 {
		margin-bottom: 55px;
	}

	.stock {
		margin: 0 -10px 70px -10px;

		> li {
			width: 50%;
			float: left;
			padding: 0 10px;

			&:first-child {

				h4 {
					color: #997d45;
				}

				.vendors {

					> li {
						border-color: #997d45;
						@include box-shadow(2px 2px 0px 0px rgba(249, 243, 230, 0.9));
					}
				}
			}


			&:last-child {

				h4 {
					color: #444;
				}

				.vendors {

					> li {
						border-color: #d9d9d9;
						@include box-shadow(2px 2px 0px 0px rgba(243, 243, 243, 0.9));
					}
				}
			}
		}

		h4 {
			font-size: 30px;
			font-weight: 300;
			line-height: 36px;
			margin-bottom: 10px;
		}
	}

	.vendors {
		margin: 0 -5px;

		> li {
			float: left;
			width: 185px;
			margin: 0 5px 10px 5px;
			border: 1px solid transparent;
		}
	}

	.text {

		li {

			&:first-child {
				float: left;
				width: 600px;
				color: #997d45;
				font-size: 20px;
				line-height: 28px;
				text-align: right;
				font-style: italic;
			}

			&:last-child {
				width: 535px;
				float: right;
			}
		}
	}
}

