.b17 {
	height: 565px;
	text-align: center;
	padding-top: 90px;
	background: url("../img/b17_bg.jpg") 50% 0 no-repeat;

	.heading {
		color: #e8a800;
		font-size: 80px;
		font-weight: 700;
		line-height: 90px;
	}

	.text-one {
		color: #fff;
		font-size: 40px;
		font-weight: 300;
		line-height: 50px;
		margin-bottom: 30px;
	}

	.text-two {
		color: #e8a800;
		font-size: 40px;
		font-weight: 700;
		line-height: 60px;
		margin-bottom: 20px;
	}

	.tel {
		color: #fff;
		font-size: 55px;
		font-weight: 600;
		line-height: 60px;
		text-decoration: none;
	}
}