.b10 {
	height: 740px;
	padding-top: 40px;
	background: url("../img/b10_bg.png") 50% 200px no-repeat;

	.h2 {
		font-size: 40px;
		margin: 0 -10px 85px -10px;
	}

	.product {

		li {
			width: 25%;
			float: left;
			position: relative;

			a {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				color: #fff;
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
				position: absolute;
				text-align: center;
				padding-top: 145px;
				text-decoration: none;
				background: url("../img/product_bg.png") 0 100% repeat-x;
				@include transition(.3s);

				&:hover {
					background: transparent;

					span {
						display: none;
					}
				}
			}

			&:nth-child(6) {

				a {
					padding-top: 135px;
				}
			}
		}
	}
}
