@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-Thin/Exo2-Thin_gdi.eot');
	src: url('../fonts/Exo2-Thin/Exo2-Thin_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Thin/Exo2-Thin_gdi.woff') format('woff'),
	url('../fonts/Exo2-Thin/Exo2-Thin_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-Thin/Exo2-Thin_gdi.svg#Exo2-Thin') format('svg');
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-Light/Exo2-Light_gdi.eot');
	src: url('../fonts/Exo2-Light/Exo2-Light_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Light/Exo2-Light_gdi.woff') format('woff'),
	url('../fonts/Exo2-Light/Exo2-Light_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-Light/Exo2-Light_gdi.svg#Exo2-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-Regular/Exo2-Regular_gdi.eot');
	src: url('../fonts/Exo2-Regular/Exo2-Regular_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Regular/Exo2-Regular_gdi.woff') format('woff'),
	url('../fonts/Exo2-Regular/Exo2-Regular_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-Regular/Exo2-Regular_gdi.svg#Exo2-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-Medium/Exo2-Medium_gdi.eot');
	src: url('../fonts/Exo2-Medium/Exo2-Medium_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Medium/Exo2-Medium_gdi.woff') format('woff'),
	url('../fonts/Exo2-Medium/Exo2-Medium_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-Medium/Exo2-Medium_gdi.svg#Exo2-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.eot');
	src: url('../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.woff') format('woff'),
	url('../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-SemiBold/Exo2-SemiBold_gdi.svg#Exo2-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-Bold/Exo2-Bold_gdi.eot');
	src: url('../fonts/Exo2-Bold/Exo2-Bold_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Bold/Exo2-Bold_gdi.woff') format('woff'),
	url('../fonts/Exo2-Bold/Exo2-Bold_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-Bold/Exo2-Bold_gdi.svg#Exo2-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-Black/Exo2-Black_gdi.eot');
	src: url('../fonts/Exo2-Black/Exo2-Black_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Black/Exo2-Black_gdi.woff') format('woff'),
	url('../fonts/Exo2-Black/Exo2-Black_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-Black/Exo2-Black_gdi.svg#Exo2-Black') format('svg');
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}


@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.eot');
	src: url('../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.woff') format('woff'),
	url('../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-LightItalic/Exo2-LightItalic_gdi.svg#Exo2-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-Italic/Exo2-Italic_gdi.eot');
	src: url('../fonts/Exo2-Italic/Exo2-Italic_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-Italic/Exo2-Italic_gdi.woff') format('woff'),
	url('../fonts/Exo2-Italic/Exo2-Italic_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-Italic/Exo2-Italic_gdi.svg#Exo2-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}

@font-face {
	font-family:'Exo2';
	src: url('../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.eot');
	src: url('../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.woff') format('woff'),
	url('../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.ttf') format('truetype'),
	url('../fonts/Exo2-BoldItalic/Exo2-BoldItalic_gdi.svg#Exo2-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-04C0;
}