.footer {
	height: 130px;
	padding-top: 40px;
	background: transparent;

	.cols {
		float: left;
		width: 33.33%;

		&.cols-left {
			padding-top: 10px;
		}

		&.cols-center {
			padding-top: 5px;
			text-align: center;
		}

		&.cols-right {
			text-align: right;
		}
	}

	.dev {
		color: #000;
		outline: none;
		font-size: 16px;
		font-weight: 300;
		line-height: 20px;
		display: inline-block;
		text-decoration: none;
		padding: 15px 90px 15px 0;
		background: url("../img/dev-logo.png") 100% 50% no-repeat;
	}

	.address {
		font-size: 20px;
		line-height: 30px;
		padding-left: 35px;
		display: inline-block;
		background: url("../img/icon-location.png") 0 50% no-repeat;
	}

	.contact-link {
		color: #666;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 15px;
		display: inline-block;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	.copy {
		color: #aaa;
		font-size: 13px;
		font-weight: 300;
		line-height: 20px;
	}
}