
$text-color             :   #000 !default;
$link-color             :   #000 !default;
$link-hover-decoration  :   underline;


$font-size-base         :   16px !default;
$line-height-base       :   1.428571429 !default;
$font-base              :   'Exo2', Helvetica, Arial, sans-serif !default;
