.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	position: relative;
	padding: 16px 25px;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	background-color: #e8a800;
	text-transform: uppercase;
	touch-action: manipulation;
	border-bottom: 3px solid #997d45;
	border-top: 3px solid transparent;

	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: #fdbf1b;
		border-bottom-color: #fdbf1b;
	}

	&:active {
		border-top-color: #e8a800;
	}
}

.btn-white {
	border-bottom: 3px solid #fff;

	&:hover {
		border-bottom-color: #fdbf1b;
	}
}

.btn-dialog {
	padding-left: 65px;
	background-repeat: no-repeat;
	background-position: 25px 50%;
	background-image: url("../img/icon-dialog.png");
}

.btn-quest {
	padding-left: 57px;
	background-repeat: no-repeat;
	background-position: 25px 50%;
	background-image: url("../img/icon-quest.png");
}

.btn-download {
	padding-left: 75px;
	padding-right: 50px;
	background-repeat: no-repeat;
	background-position: 45px 50%;
	background-image: url("../img/icon-download.png");
}

.btn-door {
	padding-left: 57px;
	background-repeat: no-repeat;
	background-position: 25px 50%;
	background-image: url("../img/icon-doors.png");
}